<div id="<%= dom_id call %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Tenant:</strong>
    <%= call.tenant_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Direction:</strong>
    <%= call.direction %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= call.phone %>
  </p>

</div>
