<div id="pos_employee_list" class="mt-2 grid grid-cols-1 gap-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">
  <% @employees.each do |employee| %>
    <%= render partial: "pos/employee/list_employee", locals: { employee: employee } %>
  <% end %>
</div>
