<div id="employee_signup">
  SUCCESS!!
  <%= link_to I18n.t("employee_invitation.your_private_punch_clock"), pos_employee_url(@resource, api_key: @resource.access_token), class: "mort-link-primary" %>
</div>
