<div class="min-w-0 w-full columns-2 ">
  <%= render_text_column value: t('.name'), sort: params, field: :name, css: "font-bold truncate" %>
  <%= render_text_column value: t(".updated_at"), css: "hidden lg:block font-bold " %>
</div>
