<div class="w-full">
  <% if @resource.slug == "watch" %>
    <div class="flex flex-wrap w-full h-screen ">
      <input type="button" class="mort-btn-primary bg-green-500 w-1/2 h-1/2" value="IN"/>
      <input type="button" class="mort-btn-primary bg-yellow-500 w-1/2 h-1/2" value="IN"/>
      <input type="button" class="mort-btn-primary bg-red-500 w-1/2 h-1/2" value="IN"/>
    </div>
  <% else %>
    <div class="flex justify-between items-center">
      <div>
        <h1 class="font-bold text-4xl"> <%= @resource.title %> </h1>
      </div>
      <div class="grid gap-2 grid-cols-1 lg:grid-cols-2 items-center">
        <%= link_to( t("pages.edit"), edit_page_url(@resource), class: "mort-btn-primary" ) if user_signed_in? %>
      </div>
    </div>
    <div class="">
      <%= markdown @resource.content %>
    </div>
  <% end %>
</div>
