development:
  background_job_scheduler:
    class: BackgroundManagerJob
    # queue: background
    # args: [ 1000, { batch_size: 500 } ]
    enabled: true
    schedule: every 60 seconds
production:
  background_job_scheduler:
    class: BackgroundManagerJob
    queue: background
    # args: [ 1000, { batch_size: 500 } ]
    enabled: true
    schedule: every 60 seconds
#   periodic_cleanup:
#     class: CleanSoftDeletedRecordsJob
#     queue: background
#     args: [ 1000, { batch_size: 500 } ]
#     schedule: every hour
#   periodic_command:
#     command: "SoftDeletedRecord.due.delete_all"
#     priority: 2
#     schedule: at 5am every day
