<div class="w-full">
  <div class="flex justify-between items-center">
    <div>
      <h1 class="font-bold text-4xl"> <%= @resource.name %> </h1>
    </div>
    <div class="grid gap-2 grid-cols-1 lg:grid-cols-2 items-center">
      <%= link_to t("#{ resource_class.table_name}.form.edit"), edit_resource_url, class: "mort-btn-primary" %>
    </div>
  </div>
  <div class="" data-controller="calendar">
    <div class="ID mb-2"><strong>ID</strong><br/><%= @resource.id %></div>
    <%= render CalendarComponent.new(id: @resource.id, url: resource_url, date: @date, calendars: [@resource], view: params[:view]) %> 
  </div>
</div>
