<div class="w-full">
  <div class="flex justify-between items-center">
    <div>
      <h1 class="font-bold text-4xl"> <%= @resource.employee.name %> </h1>
    </div>
    <div class="grid gap-2 grid-cols-1 lg:grid-cols-2 items-center">
      <%= link_to t("#{ resource_class.table_name}.form.edit"), edit_resource_url, class: "mort-btn-primary" %>
    </div>
  </div>
  <div class="">
    <%= render resource_class.form @resource, false %>
  </div>
  <hr>
  <div class="mt-3">
    <%#= render partial: 'punch_clocks/list' %>
    <%#= render @resource.punch_clocks %>
  </div>
</div>
