<div id="<%= dom_id dashboard %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Tenant:</strong>
    <%= dashboard.tenant_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Feed:</strong>
    <%= dashboard.feed %>
  </p>

</div>
