@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mort-btn-primary {
    @apply flex justify-center rounded-md bg-sky-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-sky-500 hover:cursor-pointer focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600;
  }

  .mort-btn-save {
    @apply flex justify-center rounded-md bg-green-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-500 hover:cursor-pointer focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600;
  }

  .mort-btn-secondary {
    @apply flex justify-center rounded-md bg-sky-400 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-sky-500 hover:cursor-pointer focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600;
  }

  .mort-btn-cancel {
    @apply flex justify-center rounded-md bg-gray-200 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-300 hover:cursor-pointer focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600;
  }

  .mort-btn-alert {
    @apply flex justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 hover:cursor-pointer focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600;
  }

  .mort-form-text {
    @apply block shadow rounded-md border border-gray-200 focus:outline-none px-3 py-2 mt-2 w-full focus-visible:border-sky-600;
  }

  .mort-form-select {
    @apply block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-sky-600 sm:text-sm sm:leading-6;
  }

  .mort-form-file {
    @apply block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-sky-50 file:text-sky-700 hover:file:bg-sky-100;
  }

  .mort-form-bool {
    @apply block  px-3 py-2 mt-2;
  }

  .mort-filter-field {
    @apply block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-5/6;
  }

  .mort-nav-link {
    /* bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium */
    @apply bg-transparent text-white hover:text-sky-500 block rounded-md px-3 py-2 text-base font-medium;
  }

  .mort-link-primary {
    /* bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium */
    @apply bg-transparent text-sky-500 hover:text-sky-700 text-base font-medium;
  }

  .mort-field {
    @apply my-5;
  }

  .mort-active-arrow {
    @apply text-gray-500 text-xs;
  }

  .mort-passive-arrow {
    @apply text-gray-300 text-xs;
  }

  #error_explanation {
    @apply text-red-600 text-sm my-4;
  }

  .mort-err-resume {
    @apply font-bold mb-2;
  }

  .mort-flash-error {
    @apply inline-block bg-red-100  text-red-700;
  }
  .mort-flash-border-error {
    @apply border border-red-400;
  }

  .mort-flash-warning, .mort-flash-alert {
    @apply inline-block bg-yellow-100  text-yellow-700;
  }
  .mort-flash-border-warning, .mort-flash-border-alert {
    @apply border border-yellow-400;
  }

  .mort-flash-info, .mort-flash-timedout {
    @apply inline-block bg-sky-100  text-sky-700;
  }
  .mort-flash-border-info, .mort-flash-border-timedout {
    @apply border border-sky-400;
  }

  .mort-flash-notice {
    @apply inline-block bg-blue-100  text-blue-700;
  }
  .mort-flash-border-notice {
    @apply border border-blue-400;
  }

  .mort-flash-success {
    @apply inline-block bg-green-50  text-green-500;
  }
  .mort-flash-border-success {
    @apply border border-green-400;
  }

}



/* https: //github.com/tailwindlabs/tailwindcss/discussions/10909 */
html {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

dialog {
  &::backdrop {
    background: gray;
    opacity: 0.2;
  }
}

.pagy {
  @apply flex space-x-1 font-thin text-sm text-sky-600;

  a:not(.gap) {
    @apply block rounded-lg px-3 py-1 bg-sky-200;
  }

  a:not(.gap):hover {
    @apply bg-sky-300 cursor-pointer;
  }

  a:not(.gap):not([href]) {
    /* disabled links */
    @apply text-gray-300 bg-sky-100 cursor-default;
  }

  a:not(.gap).current {
    @apply text-white bg-sky-400 font-semibold;
  }

  label {
    /* @apply inline-block whitespace-nowrap bg-sky-200 rounded-lg px-3 py-0.5; */

    input {
      @apply bg-sky-100 border-none rounded-md;
    }
  }
}