<div class="min-w-0 w-full columns-2 md:columns-3 lg:columns-4">
  <div class="flex justify-start">
    <%= form.text_field :job_klass, value: (filter["job_klass"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="flex justify-end">
    <%= form.text_field :state, value: (filter["state"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="hidden md:flex justify-start">
    <%= form.text_field :next_run_at, value: (filter["next_run_at"] rescue ''), class: "mort-filter-field w-3/4" %>
  </div>
</div>
