<div class="min-w-0 w-full columns-2 md:columns-3 lg:columns-5">
  <div class="flex justify-start">
    <%= form.text_field :name, value: (filter["name"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="flex justify-start">
    <%= form.text_field :team, value: (filter["team"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="flex justify-start">
    <%= form.text_field :locale, value: (filter["locale"] rescue ''), class: "hidden md:block mort-filter-field" %>
  </div>
  <div class="flex justify-start">
    <%= form.text_field :time_zone, value: (filter["time_zone"] rescue ''), class: "hidden lg:block mort-filter-field" %>
  </div>
</div>
