<div class="min-w-0 w-full columns-2 md:columns-3 lg:columns-5">
  <div class="flex justify-start">
    <%= form.text_field :address, value: (filter["name"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="flex justify-start">
    <%= form.text_field :state, value: (filter["state"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="flex justify-end">
    <%= form.text_field :state_date, value: (filter["state_date"] rescue ''), class: "hidden md:block mort-filter-field" %>
  </div>
  <div class="flex justify-start">
    <%= form.text_field :invited_by, value: (filter["invited_by"] rescue ''), class: "hidden lg:block mort-filter-field" %>
  </div>
</div>
