<div class="min-w-0 w-full columns-1 md:columns-1 lg:columns-1">
  <div class="flex justify-start">
    <%= form.text_field :name, value: (filter["name"] rescue ''), class: "mort-filter-field" %>
  </div>
</div>
