<div class="min-w-0 w-full columns-2 md:columns-3">
  <%= render_text_column field: t('.view'), css: "font-bold truncate" %>
  <%= render_text_column field: t(".filter"), css: "hidden md:block font-bold " %>
  <%= render_text_column field: t(".updated_at"), css: "hidden md:block font-bold " %>
</div>
