<div class="min-w-0 w-full columns-2 md:columns-3">
  <div class="flex justify-start">
    <%= form.text_field :name, value: (filter["name"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="flex justify-end">
    <%= form.text_field :location_color, value: (filter["location_color"] rescue ''), class: "mort-filter-field" %>
  </div>
</div>
