<div class="min-w-0 w-full columns-2 md:columns-3 lg:columns-5">
  <div class="flex justify-start">
    <%= form.text_field :name, value: (filter["name"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="flex justify-start">
    <%= form.text_field :role, value: (filter["role"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="hidden md:flex justify-start">
    <%= form.text_field :locale, value: (filter["locale"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="hidden lg:flex justify-start">
    <%= form.text_field :time_zone, value: (filter["time_zone"] rescue ''), class: "mort-filter-field w-3/4" %>
  </div>
</div>
