<div class="flex justify-between gap-x-6 mb-1 px-2 py-1 ">
  <div class="w-full pt-10 border-b border-gray-100 text-xs font-semibold">
    <% if field.is_a? Date or field.is_a? Time or field.is_a? DateTime %>
    <%= I18n.l field, format: :day_summary %>
    <% else %>
    <%= field %>
    <% end %>
  </div>
</div>