<ul id="list" role="list" class="divide-y divide-gray-100">
  <li  class="flex items-center justify-between gap-x-6 py-5">
    <%= render partial: list %>
    <div class="flex flex-none items-center gap-x-4 ">
      <%#= render_contextmenu list: resource_class.by_tenant(tenant), resource_class: resource_class %>
    </div>
  </li>
  <filter-container>
  </filter-container>
</ul>
