<div class="flex justify-between items-center">
  <div>
    <h1 class="font-bold text-4xl"> <%= t("#{resource_class.table_name}.list.title") %> </h1>
    <% case @filter_form %>
    <% when 'punch_cards' %>
      <%= link_to t(:payroll_order), modal_new_url(modal_form: 'payroll'), class: "inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10", data: { turbo_stream: true } %>
    <% when 'employees' %>
      <%#= link_to t(:import_employees), modal_new_url(modal_form: 'import_employee'), class: "inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10", data: { turbo_stream: true } %>
    <% end %>
  </div>
  <div class="grid gap-2 grid-cols-1 lg:grid-cols-2 items-center">
    <%#= render partial: 'search', locals: { klass: :employee }  %>
    <div class="hidden md:block">
      <%== pagy_nav(@pagy) if @pagy %>
    </div>
    <%= link_to t("#{ resource_class.table_name}.list.new"), new_resource_url, class: "mort-btn-primary" %>
  </div>
</div>
