<%= render partial: "header" %>
<!-- List -->
<%= turbo_stream_from @resources_stream %>
<div id="list" role="list" class="mb-16">
  <%= render List.new records: @records, pagy: @pagy, initial: true, params: params, user: Current.user %>
</div>

<%#= render partial: "pagination" if @pagy.pages > 1 %>
