<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <%= stylesheet_link_tag "tailwind", "inter-font", data_turbo_track: "reload" %>      
    <%= stylesheet_link_tag "application", data_turbo_track: "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
