<div class="w-full">
  <div class="flex justify-between items-center">
    <div>
      <h1 class="font-bold text-4xl"> <%= @resource.name %> </h1>
    </div>
    <div class="grid gap-2 grid-cols-1 lg:grid-cols-2 items-center">
      <%= render partial: "provided_services/#{@resource.service.underscore}/authorize", locals: { path: request.path } unless @resource.authorized? %>
      <%= link_to t("#{ resource_class.table_name}.form.edit"), edit_resource_url, class: "mort-btn-primary" %>
    </div>
  </div>
  <div class="">
    <%= render resource_class.form @resource, false %>
  </div>
</div>
